autoreject==0.4.3
betacal==1.1.0
fpdf==1.7.2
frites==0.4.4
joblib==1.4.2
matplotlib==3.10.1
matplotlib_venn==1.1.2
mne==0.23.0
mne_bids==0.16.0
mne_connectivity==0.7.0
networkx==3.2.1
nibabel==5.3.2
nice==1.1
nilearn==0.11.1
numpy==2.2.4
pandas==2.2.3
pingouin==0.5.5
procrustes==0.2.1
progress==1.6
ptitprince==0.2.7
pymer4==0.8.2
pyprep==0.4.3
pyspi==1.1.1
pyvista==0.44.2
pyvistaqt==0.11.2
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
skimage==0.0
statsmodels==0.14.4
tqdm==4.67.1
tslearn==0.6.3
xarray==2024.7.0
